<?xml version="1.0"?>
<robot
  name="malbut_rosorin_ultimate_orin_nx_super"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:ignition="http://ignitionrobotics.org/schema">
  <xacro:include filename="$(find malbut_description)/urdf/rosorin_model.xacro"/>
  <xacro:include filename="$(find malbut_gazebo)/urdf/gazebo_plugins.xacro"/>
  <xacro:rosorin_model/>
  <xacro:rosorin_gazebo/>
</robot>
