<?xml version="1.0"?>
<model>
  <name>Malbut Humanoid Actor</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Malbut Contributors</name>
  </author>
  <description>
    Animated indoor pedestrian for RGB-D perception and tracking tests.
  </description>
</model>
