<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rosorin_sensors">
    <!-- Hiwonder AsCamera / Aurora depth-camera assembly. -->
    <link name="camera_link">
      <xacro:box_inertial
        mass="${camera_mass}"
        x="${camera_depth}"
        y="${camera_width_m}"
        z="${camera_height_m}"/>
      <visual>
        <geometry>
          <mesh filename="file://$(find malbut_description)/meshes/depth_camera_link.stl"/>
        </geometry>
        <material name="rosorin_camera"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find malbut_description)/meshes/depth_camera_link_collision.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="camera_joint" type="fixed">
      <parent link="base_link"/>
      <child link="camera_link"/>
      <origin
        xyz="${camera_x} ${camera_y} ${camera_z}"
        rpy="${camera_roll} ${camera_pitch} ${camera_yaw}"/>
    </joint>

    <!-- REP-103 optical frame: +Z forward, +X right, +Y down. -->
    <link name="camera_depth_optical_frame"/>
    <joint name="camera_depth_optical_joint" type="fixed">
      <parent link="camera_link"/>
      <child link="camera_depth_optical_frame"/>
      <origin xyz="0 0 0" rpy="${-pi/2.0} 0 ${-pi/2.0}"/>
    </joint>

    <link name="laser_frame">
      <xacro:cylinder_z_inertial
        mass="${lidar_mass}"
        radius="${lidar_radius}"
        length="${lidar_height}"/>
      <visual>
        <geometry>
          <mesh filename="file://$(find malbut_description)/meshes/lidar_link.stl"/>
        </geometry>
        <material name="rosorin_sensor"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find malbut_description)/meshes/lidar_link_collision.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="laser_joint" type="fixed">
      <parent link="base_link"/>
      <child link="laser_frame"/>
      <origin
        xyz="${lidar_x} ${lidar_y} ${lidar_z}"
        rpy="${lidar_roll} ${lidar_pitch} ${lidar_yaw}"/>
    </joint>

    <!-- Controller IMU has no externally visible enclosure in the CAD model. -->
    <link name="imu_link">
      <xacro:box_inertial
        mass="${imu_mass}"
        x="${imu_length}"
        y="${imu_width}"
        z="${imu_height}"/>
    </link>
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin
        xyz="${imu_x} ${imu_y} ${imu_z}"
        rpy="${imu_roll} ${imu_pitch} ${imu_yaw}"/>
    </joint>

    <!-- Physical array only; acoustic beam-forming simulation is out of scope. -->
    <link name="microphone_link">
      <xacro:cylinder_z_inertial
        mass="${microphone_mass}"
        radius="${microphone_radius}"
        length="${microphone_height}"/>
      <visual>
        <geometry>
          <mesh filename="file://$(find malbut_description)/meshes/mic_link.stl"/>
        </geometry>
        <material name="rosorin_dark"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="file://$(find malbut_description)/meshes/mic_link_collision.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="microphone_joint" type="fixed">
      <parent link="base_link"/>
      <child link="microphone_link"/>
      <origin
        xyz="${microphone_x} ${microphone_y} ${microphone_z}"
        rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
