<?xml version="1.0"?>
<robot
  name="malbut_rosorin_ultimate_orin_nx_super"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    Stable public entry point retained for existing launch files.
    Tunable values are declared by rosorin_model.xacro and mirrored in config/.
  -->
  <xacro:include filename="$(find malbut_description)/urdf/rosorin_model.xacro"/>
  <xacro:rosorin_model/>
</robot>
